* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: #4d77ff;
  --text-color: 20, 20, 20;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: rgb(220, 165, 0);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--background-color), 1);
  transition: background-color 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
}

body[data-theme="dark"] {
  --accent-color: #a0b6ff;
  --text-color: 220, 220, 220;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: rgb(255, 213, 5);
  sm-popup::part(popup) {
    background-color: rgba(var(--foreground-color), 1);
  }
}

p,
strong {
  font-size: 0.9rem;
  max-width: 65ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.9);

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}
a {
  text-decoration: none;
  color: var(--accent-color);
  &:focus-visible {
    box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
  }
}
a.button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: inherit;
}

button {
  user-select: none;
  position: relative;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.8rem;
  border-radius: 0.3rem;
  justify-content: center;
  &:focus-visible {
    outline: var(--accent-color) solid medium;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}
.button {
  background-color: rgba(var(--text-color), 0.06);
  &--primary,
  &--danger {
    color: rgba(var(--background-color), 1) !important;
    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }
  &--primary {
    background-color: var(--accent-color);
  }
  &--danger {
    background-color: var(--danger-color);
  }
  &--small {
    padding: 0.4rem 0.6rem;
  }
}
.cta {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.8rem 1rem;
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.8);
  flex-shrink: 0;
}
.icon-only {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

button:disabled {
  opacity: 0.5;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}
details {
  padding: 1rem 0;
}

details summary {
  display: flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
}

details[open] {
  & summary {
    margin-bottom: 1rem;
  }
  & > summary .down-arrow {
    transform: rotate(180deg);
  }
}

sm-input,
sm-textarea {
  font-size: 0.9rem;
  --border-radius: 0.3rem;
  --background-color: rgba(var(--foreground-color), 1);
  button {
    .icon {
      fill: var(--accent-color);
    }
  }
}
sm-button {
  --padding: 0.8rem;
  &[variant="primary"] {
    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }

  &[disabled] {
    .icon {
      fill: rgba(var(--text-color), 0.6);
    }
  }
  &.danger {
    --background: var(--danger-color);
    color: rgba(var(--background-color), 1);
  }
}
sm-spinner {
  --size: 1rem;
  --stroke-width: 0.1rem;
}
sm-form {
  --gap: 1rem;
}
sm-select {
  --padding: 0.8rem;
}
strip-select {
  --gap: 0;
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 0.3rem;
  padding: 0.3rem;
}
strip-option {
  font-size: 0.8rem;
  --border-radius: 0.2rem;
  user-select: none;
}
ul {
  list-style: none;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breakable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.full-bleed {
  grid-column: 1/-1;
}
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}
.flow-column {
  grid-auto-flow: column;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.align-start {
  align-content: flex-start;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-items: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.ripple {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(
    circle,
    rgba(var(--text-color), 0.3) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  pointer-events: none;
}
.button--primary,
.button--danger {
  .ripple {
    background: radial-gradient(
      circle,
      rgba(var(--background-color), 0.3) 0%,
      rgba(0, 0, 0, 0) 50%
    );
  }
}
.interact {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.empty-state {
  display: grid;
  width: 100%;
  padding: 1.5rem 0;
}

.observe-empty-state:empty {
  display: none !important;
}

.observe-empty-state:not(:empty) + .empty-state {
  display: none !important;
}

.bullet-point {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.8ch;
  &::after {
    content: "";
    height: 0.4ch;
    width: 0.4ch;
    border-radius: 0.5em;
    background-color: var(--accent-color);
  }
}
.margin-right-0-5 {
  margin-right: 0.5rem;
}

.margin-left-0-5 {
  margin-left: 0.5rem;
}

.icon-button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: rgba(var(--text-color), 0.1);
  height: max-content;
  .icon {
    fill: var(--accent-color);
  }
}
.page {
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    min-height: 8rem;
    .grid {
      margin-top: auto;
    }
    h1 {
      margin-top: auto;
      font-size: 2rem;
    }
  }
}
.page-layout {
  display: grid;
  gap: 1.5rem 0;
  grid-template-columns: 1.5rem minmax(0, 1fr) 1.5rem;
  align-content: flex-start;
  & > * {
    grid-column: 2/3;
  }
}
#confirmation_popup,
#prompt_popup {
  flex-direction: column;
  h4 {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  sm-button {
    margin: 0;
  }
  .flex {
    padding: 0;
    margin-top: 1rem;
    sm-button:first-of-type {
      margin-right: 0.6rem;
      margin-left: auto;
    }
  }
}
#prompt_message {
  margin-bottom: 1.5rem;
}

.popup__header {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem;
  align-items: center;
}

.popup__header__close {
  padding: 0.5rem;
  margin-left: -0.5rem;
  cursor: pointer;
}
.flo-icon {
  margin-right: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
}
#secondary_pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  header {
    padding: 1.5rem;
  }
  .inner-page {
    height: 100%;
  }
}
#landing {
  & > section {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 8vw 0;
  }
  h1 {
    font-size: clamp(2rem, 5vw, 5rem);
  }
}

#sign_in,
#sign_up {
  justify-items: center;
  align-content: center;
  section {
    margin-top: -8rem;
    width: min(24rem, 100%);
  }
  sm-form {
    margin: 2rem 0;
  }
}
#sign_up {
  .h2 {
    margin-bottom: 0.5rem;
  }
  .card {
    margin: 1.5rem 0;
  }
  h5 {
    font-weight: 500;
    color: rgba(var(--text-color), 0.8);
  }
}
#flo_id_warning {
  padding-bottom: 1.5rem;
  border-bottom: thin solid rgba(var(--text-color), 0.3);
  .icon {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    background-color: #ffc107;
    border-radius: 3rem;
    fill: rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5rem;
  }
}
#main_header {
  padding: 1.5rem;
}
#main_card {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s;
  background-color: rgba(var(--foreground-color), 1);
}

#main_navbar {
  display: flex;
  background: rgba(var(--text-color), 0.03);
  &.hide-away {
    position: absolute;
  }
  ul {
    display: flex;
    height: 100%;
    width: 100%;
    li {
      width: 100%;
    }
  }
}
.nav-item {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.3rem;
  color: var(--text-color);
  font-size: 0.8rem;
  border-radius: 0.3rem;
  font-weight: 500;
  .icon {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &__title {
    margin-top: 0.3rem;
    transition: opacity 0.2s,
      transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &--active {
    color: var(--accent-color);
    .icon {
      fill: var(--accent-color);
      transform: translateY(50%);
    }
    .nav-item__title {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  &__indicator {
    position: absolute;
    bottom: 0;
    width: 2rem;
    height: 0.3rem;
    background: var(--accent-color);
    border-radius: 1rem 1rem 0 0;
    z-index: 1;
  }
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(data-notifications);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8rem;
    padding: 0.3rem;
    background: var(--accent-color);
    color: rgba(var(--background-color), 1);
    aspect-ratio: 1/1;
    font-weight: 700;
    border-radius: 0.3rem;
    margin: 0.3rem;
  }
}
.inner-page {
  padding: 0 1.5rem;
  flex: 1;
  overflow-y: auto;
  align-content: start;
}

.password-field {
  label {
    display: flex;
    input:checked ~ .visible {
      display: none;
    }
    input:not(:checked) ~ .invisible {
      display: none;
    }
  }
}
.multi-state-button {
  display: grid;
  text-align: center;
  align-items: center;
  & > * {
    grid-area: 1/1/2/2;
  }
  button {
    z-index: 1;
  }
}
.scrolling-wrapper {
  overflow-y: auto;
}
#home {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  .scrolling-wrapper {
    & > * {
      margin: 0 1.5rem;
      margin-bottom: 2rem;
    }
  }
}
#user,
#cashier {
  position: relative;
  gap: 2rem;
  padding-bottom: 4rem;
  align-content: flex-start;
}
#wallet_cards_wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x proximity;
}
.balance-card {
  scroll-snap-align: start;
  padding: 1.5rem;
  border-radius: 1rem;
  width: min(16rem, 90%);
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.8);
  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
  &:nth-of-type(1) {
    background: url("bg-art2.svg") no-repeat bottom right, hsl(141, 100%, 88%);
    background-size: contain;
    .icon {
      background-color: hsla(141, 100%, 70%, 0.5);
    }
  }
  &:nth-of-type(2) {
    background: url("back.svg") no-repeat bottom right, hsl(62, 100%, 83%);
    background-size: contain;
    .icon {
      background-color: hsla(55, 100%, 50%, 0.5);
    }
  }
  & > .flex {
    margin-bottom: 0.3rem;
    .icon {
      height: 2rem;
      width: 2rem;
      padding: 0.4rem;
      border-radius: 0.3rem;
      fill: rgba(0, 0, 0, 0.8);
      margin-right: 0.5rem;
    }
  }
}
#rupee_balance,
#flo_balance {
  span:first-of-type {
    font-size: 2rem;
  }
  span:last-of-type {
    font-size: 1rem;
  }
}
#wallet_actions_wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}
.wallet-action {
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
  .icon {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.6rem;
    margin-bottom: 0.8rem;
    fill: rgba(var(--foreground-color), 1);
    background-color: var(--accent-color);
    border-radius: 2rem;
  }
}
.cashier-status {
  font-size: 0.9rem;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  background-color: rgb(240, 230, 140, 0.8);
  color: rgba(0, 0, 0, 0.8);
  .icon {
    fill: rgba(0, 0, 0, 0.8);
  }
}
#topup_wallet__qr_code {
  padding: 2vw;
  background-color: rgba(var(--text-color), 0.03);
  border-radius: 0.5rem;
  height: 12rem;
  justify-self: center;
  svg {
    width: 100%;
    height: 100%;
    fill: rgba(var(--text-color), 1);
  }
}
#cashier_status {
  font-size: 0.9rem;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  background-color: rgb(240, 230, 140, 0.8);
  color: rgba(0, 0, 0, 0.8);
  .icon {
    fill: rgba(0, 0, 0, 0.8);
  }
}

#saved_ids_list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin-top: 1rem;
}
.saved-id {
  grid-template-columns: auto 1fr;
  gap: 0 0.8rem;
  border-radius: 0.3rem;
  padding: 0.8rem 0;
  user-select: none;
  &.highlight {
    box-shadow: 0 0 0.1rem 0.1rem var(--accent-color) inset;
  }
  .edit-saved {
    grid-area: 1/1/3/2;
    padding: 0.3rem;
    position: relative;
    .icon {
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 0.5rem;
      padding: 0.2rem;
      background-color: rgba(var(--background-color), 1);
    }
  }
  &__initials {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgba(var(--background-color), 1);
    font-weight: 700;
    line-height: 1;
    background-color: var(--accent-color);
    justify-self: flex-start;
    border-radius: 2rem;
  }
  &__title {
    align-self: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
  }
  &__flo-id {
    font-size: 0.8rem;
  }
}

.card {
  background-color: rgba(var(--foreground-color), 1);
  border-radius: 0.5rem;
  padding: 1rem;
}
#contact {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  height: 100%;
  & > * {
    padding: 1rem 1.5rem;
  }
  & > :first-child {
    padding-top: 0;
  }
  & > :last-child {
    padding: 0.5rem 1.5rem;
    border-top: solid thin rgba(var(--text-color), 0.2);
    button {
      padding: 0.8rem 2rem;
      border-radius: 1rem;
      color: var(--accent-color);
      background-color: rgba(var(--foreground-color), 1);
    }
  }
}
#contact__transactions {
  position: relative;
  display: grid;
  gap: 0.5rem;
  overflow-y: auto;
  flex: 1;
  padding: 0 max(1rem, 8vw) 1rem max(1rem, 8vw);
  align-content: flex-start;
  sm-spinner {
    position: absolute;
    justify-self: center;
    align-self: center;
  }
}
.transaction-message {
  background-color: rgba(var(--text-color), 0.06);
  padding: 1rem;
  border-radius: 0.5rem;
  justify-self: flex-start;
  border-radius: 0 1rem 1rem 1rem;
  gap: 0.5rem;
  &.received {
    background-color: var(--accent-color);
    color: rgba(var(--background-color), 1);
    & + & {
      border-radius: 1rem;
    }
  }
  &.sent {
    margin-left: auto;
    justify-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
    text-align: right;
  }

  &__amount {
    font-size: 1.2rem;
  }
  &__time {
    opacity: 0.8;
    font-size: 0.8rem;
  }
}

#history {
  .page__header {
    margin-bottom: 0;
  }
}
#history_applied_filters_wrapper {
  padding: 0.2rem 0 0.5rem 0;
  background-color: rgba(var(--background-color), 1);
  z-index: 1;
  position: sticky;
  top: 0;
}
.applied-filter {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.6rem 0.5rem 0.8rem;
  border-radius: 1rem;
  border: solid thin rgba(var(--text-color), 0.2);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.08em;
  button {
    padding: 0.6rem;
  }
  .icon {
    margin-left: 0.3rem;
  }
}
.category-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  border: solid thin rgba(var(--text-color), 0.2);
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  &:focus {
    outline: solid var(--accent-color);
  }
  input {
    display: none;
  }
  span {
    transition: transform 0.2s;
    transform: translateX(-0.8rem);
  }
  .icon {
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    margin-right: 0.3rem;
    fill: var(--accent-color);
    transform: translateX(0.5rem);
  }
  input:checked ~ .icon {
    opacity: 1;
    transform: translateX(0);
  }
  input:checked ~ span {
    color: var(--accent-color);
    transform: translateX(0);
  }
}

#wallet_history_wrapper {
  margin-top: 1.5rem;
  padding-bottom: 3rem;
}
#payments_history {
  display: grid;
  gap: 2rem;
  padding-bottom: 4rem;
}
.transaction {
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem 1rem;
  align-items: center;
  &__amount {
    white-space: nowrap;
  }
  &.sent {
    .icon {
      fill: rgba(var(--text-color), 0.8);
    }
    .transaction__amount {
      color: rgba(var(--text-color), 0.8);
      &::before {
        content: "- ";
      }
    }
  }
  &.received {
    .icon {
      fill: var(--green);
    }
    .transaction__amount {
      color: var(--green);
      &::before {
        content: "+ ";
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/3/2;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(var(--text-color), 0.03);
    border-radius: 2rem;
  }
  &__receiver {
    font-weight: 500;
  }
  &__time {
    font-size: 0.8rem;
    color: rgba(var(--text-color), 0.8);
  }
  &__amount {
    font-size: 1rem;
    font-weight: 700;
    grid-area: 1/3/3/4;
  }
}
.fab {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#scroll_to_top {
  border-radius: 3rem;
  background-color: rgba(var(--foreground-color), 1);
}
#add_address_button {
  border-radius: 0.5rem;
  color: rgba(var(--background-color), 1);
  background-color: var(--accent-color);
  .icon {
    fill: rgba(var(--background-color), 1);
  }
}
.user-action-result__icon {
  justify-self: center;
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  margin-bottom: 2rem;
  animation: popup 1s;
  &.success {
    fill: rgba(var(--background-color), 1);
    padding: 1rem;
    background-color: #0bbe56;
  }
  &.failed {
    background-color: rgba(var(--text-color), 0.03);
    fill: var(--danger-color);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(600%);
  }
  10% {
    transform: scale(0.2) translateY(5rem);
    opacity: 1;
  }
  40% {
    transform: scale(0.2) translateY(0);
  }
  80% {
    transform: scale(1.1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.cashier-request,
.payment-request {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: rgba(var(--foreground-color), 1);
  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
  &__mode {
    text-align: center;
    width: 2rem;
    font-size: 0.8rem;
  }
  &__time {
    font-size: 0.8rem;
  }
}
.cashier-request {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "mode details status" "mode . status";
  &__mode {
    grid-area: mode;
  }
  &__details {
    grid-area: details;
    font-weight: 700;
  }
  &__requestor {
    font-size: 0.8rem;
  }
  &__status {
    grid-area: status;
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
#payment_request_history {
  padding-bottom: 3rem;
}
.payment-request {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: 1fr auto;
  color: rgba(var(--text-color), 1);
  padding: 0.8rem 0;
  &__requestor {
    font-weight: 500;
  }
  &__amount {
    font-weight: 700;
    text-align: right;
  }
  &__status {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-transform: capitalize;
    .icon {
      height: 1rem;
      width: 1rem;
      margin-left: 0.3rem;
    }
  }
  .icon.paid {
    fill: var(--green);
  }
  .icon.declined {
    fill: var(--danger-color);
  }
  .button {
    background-color: transparent;
    padding: 0.6rem 0.8rem;
    color: var(--accent-color);
    background-color: rgba(var(--foreground-color), 1);
  }
}
.wallet-request {
  display: grid;
  gap: 0.5rem 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  grid-template-columns: auto 1fr;
  &:not(.rejected, .pending) {
    &.withdrawn {
      .wallet-request__amount {
        &::before {
          content: "- ";
        }
      }
    }
    &.added {
      .wallet-request__amount {
        color: var(--green);
        &::before {
          content: "+ ";
        }
      }
    }
  }
  .icon.pending {
    fill: var(--yellow);
  }
  .icon.failed {
    fill: var(--danger-color);
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/3/2;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: rgba(var(--text-color), 0.06);
    .icon {
      fill: var(--accent-color);
    }
  }
  &__details {
    font-weight: 500;
  }
  &__details,
  &__amount {
    color: rgba(var(--text-color), 1);
  }
  &__amount {
    font-weight: 700;
  }
  &__time,
  &__status {
    font-size: 0.8rem;
    color: rgba(var(--text-color), 0.8);
  }
  &__status {
    text-transform: capitalize;
    text-align: right;
    .icon {
      margin-left: 0.3rem;
    }
  }
}
#transaction__remark,
#transaction__note {
  line-height: 1.6;
  justify-self: flex-start;
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 0.5rem;
  padding: 0.8rem;
}
#transaction__note {
  .icon {
    fill: var(--danger-color);
    margin-right: 0.5rem;
  }
}
#saved_upi_ids_list {
  display: grid;
  gap: 0.5rem;
  width: min(24rem, 100%);
}
.saved-upi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--foreground-color), 1);
}
@media screen and (max-width: 40rem) {
  #main_navbar {
    &.hide-away {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
@media screen and (min-width: 40rem) {
  sm-popup {
    --width: 24rem;
  }
  .page-layout {
    grid-template-columns: 1fr 90vw 1fr;
  }
  .popup__header {
    grid-column: 1/-1;
    padding: 1rem 1.5rem 0 1.5rem;
  }
  body {
    align-items: center;
    justify-content: center;
  }

  #main_card {
    height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
    grid-template-areas: "header" ".";
    &:not(.nav-hidden) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "nav header" "nav .";
    }
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05),
      0 1rem 3rem rgba(0, 0, 0, 0.2);
  }
  #main_header {
    grid-area: header;
  }

  #main_navbar {
    grid-area: nav;
    border-top: none;
    flex-direction: column;
    height: calc(100% - 1rem);
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(37 110 255/ 0.03);
    ul {
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.3rem;
      li:last-of-type {
        margin-top: auto;
      }
    }
  }
  .nav-item {
    aspect-ratio: 1/1;
    &__indicator {
      width: 0.25rem;
      height: 50%;
      left: 0;
      border-radius: 0 1rem 1rem 0;
      bottom: auto;
    }
  }
  .card {
    padding: 1.5rem;
  }
  #saved_ids_list {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }
}
@media screen and (min-width: 56rem) {
  #main_card {
    width: 56rem;
    height: min(90vh, 48rem);
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;

    &:hover {
      background: rgba(var(--text-color), 0.5);
    }
  }
  .interact:not([disabled]) {
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(var(--text-color), 0.06);
    }
  }
  button:not([disabled]),
  .button:not([disabled]) {
    transition: background-color 0.3s, filter 0.3s;
    &:hover {
      filter: contrast(2);
    }
  }
}

@supports (overflow: overlay) {
  body {
    overflow: overlay;
  }
}

.hide {
  display: none !important;
}
